<div class="ear-links">

  {% if no_access %}
    <a{{ no_access_attributes }}>{{ no_access_label }}</a>
  {% endif %}

  {% if create %}
    <a{{ create_attributes }}>{{ create_label }}</a>
  {% endif %}

  {% if update %}
    <a{{ update_attributes }}>{{ update_label }}</a>
  {% endif %}

  {% if cancel %}
    <a{{ cancel_attributes }}>{{ cancel_label }}</a>
  {% endif %}

</div>
